.main-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2em;
  font-weight: 700;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .main-heading {
      font-size: 2em;
  }
}
